.help-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #bd0505;
    border: 1px solid #ccc;
    border-radius:  10px;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
}
.help-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.help-container ul li {
    margin: 10px;

}
.help-container ul li a :hover{
    text-decoration: underline;
    color: #337ab7;
}
.help-content {
    margin: 20px;
}
.help-content div {
    margin: 20px;

}
.help-content h3{
    margin: 0;

}
